:root {
    --blue: #2980b9;
    --lightblue: #3498db;
    --light: #d7dadb;
    --darkblue: #2c3e50;
    --red: #e74c3c;
    --black: #433852;
    --green: #0fdc0f;
  }
  
body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: var(--light);
    color: var(--darkblue);
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

header {
    padding: 20px;
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--darkblue);
    color: var(--light);
    background-image: linear-gradient(to right, var(--lightblue) , var(--darkblue));
    float: none;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    padding: 5px;
}

.card {
  float: left;
}

.card h1 {
  font-size: 24px;
  padding: 10px;
}

section .input-group {
  padding: 10px;
}

.weatherCard {
  display: flex;
  flex-direction: column;
}

section .currentCity {
  padding: 10px;
  border: var(--black);
  border-style: solid;
  margin: 5px;
}

section .currentCity div {
  padding: 5px;
  font-weight: bold;
}

#cityName {
  float: left;
  font-size: 24px;
}

#date {
  font-size: 24px;
}

#dayIcon {
  float: right;
}

#uvindex span{
  background-color: var(--green);
  color: var(--light);
}

section .daily h3 {
  margin: 5px;
}

section .forecast-weather-container {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

section .forecast-weather-container div {
  padding: 5px;
  margin: 5px;
  background-color: var(--darkblue);
}

section .forecast-weather-container div p {
  padding: 2px;
  color: var(--light);
}

section .hourly h3 {
  margin: 5px;
}

section .weather-container {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

section .weather-container div {
  padding: 5px;
  margin: 5px;
  background-color: var(--lightblue);
}

section .weather-container div p {
  padding: 2px;
  color: var(--light);
}